<div class="vh-100 container-xl">
  <div class="row h-100 justify-content-center">
    <div class="col-xxl-6 col-12 col-xl-5 col-lg-8">
      <div class="row mt-5 justify-content-between align-items-end">
        <div class="col-xxl-2 col-xl-2 col-lg-1 col-md-2 col-sm-2 col-2">
          <img src="images/icon.svg" id="iy5kz" class="w-100" />
        </div>
        <div
          class="col-lg-6 col-xxl-2 text-end col-xl-10 col-md-7 col-sm-8 col-9"
        >
          <button type="button" z-on-click="view.logout()" class="btn btn-link">
            <span>Logout</span>
          </button>
        </div>
        <div class="col-12">
          <z-sub-view></z-sub-view>
        </div>
      </div>
    </div>
  </div>
</div>
