<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col shadow-lg">
      <div class="row justify-content-center mt-5">
        <div class="col-xxl-9 mt-5 col-10 col-sm-8 col-md-6 col-lg-11 col-xl-8">
          <form>
            <div class="row">
              <div class="col-xxl-2 col-4">
                <img src="images/icon.svg" id="ijjm6" class="w-100 mb-3" />
              </div>
              <div class="col col-xxl-12 col-12">
                <h3 class="text-primary">Welcome to BamZ</h3>
                <div role="alert" z-show-if="failed" class="alert alert-danger">
                  <div class="d-flex align-items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      role="img"
                      aria-label="Warning:"
                      class="flex-shrink-0 me-2"
                    >
                      <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                      ></path>
                    </svg>
                    <div>
                      <span>
                        The connection failed. Please check your login and
                        password
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xxl-12 col-lg-12">
                <div class="mb-3">
                  <label for="formInput1" class="form-label">Login</label>
                  <input
                    type="text"
                    id="formInput1"
                    required=""
                    z-bind="login"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-12 col-xxl-12 col-lg-12">
                <div class="mb-3">
                  <label for="formInput1" class="form-label">Password</label>
                  <input
                    type="password"
                    required=""
                    z-bind="password"
                    z-on-enter="view.signIn()"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-12 col-xxl-12 col-lg-12">
                <button
                  type="button"
                  z-on-click="view.signIn()"
                  class="btn w-100 btn-primary"
                >
                  <span>Sign in</span>
                </button>
              </div>
              <div class="col-12 col-xxl-12 col-lg-12">
                <a
                  id="ij8r2"
                  href="/create_account"
                  z-link-type="inner"
                  z-route="/create_account"
                >
                  Create account
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="welcome-right col d-none h-100 d-lg-block">
      <div class="row justify-content-center mt-5 pt-5">
        <div class="col col-xxl-3 mt-5 col-lg-3">
          <img src="images/icon.svg" class="w-100" />
        </div>
        <div class="col col-xxl-12 col-lg-12">
          <h1 class="text-center text-warning mt-3">Welcome to BamZ</h1>
        </div>
      </div>
    </div>
  </div>
</div>
