.welcome-right {
  background-image: linear-gradient(
    144deg,
    rgb(1, 147, 154) 0%,
    rgb(1, 114, 119) 49%,
    rgb(0, 100, 126) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.176) 10px 0px 150px -6px inset;
}
